@model DPTnew.Models.UpdateCase

@{
    ViewBag.Title = "Case Management";
}

@section Scripts {
    <script type="text/javascript">
        var yourApp = yourApp || {};
        yourApp.Urls = yourApp.Urls || {};
        yourApp.Urls.baseUrl = '@Url.Content("~")';

        $('form').one('submit', function () {
            $(this).find('button[type="submit"]').attr('disabled', 'disabled');
            setTimeout(function () {
                $(this).find('button[type="submit"]').attr('disabled', 'disabled');
            }, 2000);
            var sts = escape($("#status-choice").val());
            $("#Description").val(sts);
            $("#Details").val(sts);
        });

        $(document).ready(function () {
            if ($("#ccEngineer-choice").val() != "tomoki.miyamoto@t3-japan.co.jp")
                $("#ccEngineer-choice").append("<option value='tomoki.miyamoto@t3-japan.co.jp'>tomoki.miyamoto@t3-japan.co.jp</option>");
            if ($("#ccEngineer-choice").val() != "hideki.kobayashi@t3-japan.co.jp")
                $("#ccEngineer-choice").append("<option value='hideki.kobayashi@t3-japan.co.jp'>hideki.kobayashi@t3-japan.co.jp</option>");
            if ($("#ccEngineer-choice").val() != "fumiko.kasahara@t3-japan.co.jp")
                $("#ccEngineer-choice").append("<option value='fumiko.kasahara@t3-japan.co.jp'>fumiko.kasahara@t3-japan.co.jp</option>");
            if ($("#ccEngineer-choice").val() != "michiyo.miyako@t3-japan.co.jp")
                $("#ccEngineer-choice").append("<option value='michiyo.miyako@t3-japan.co.jp'>michiyo.miyako@t3-japan.co.jp</option>");
            if ($("#ccEngineer-choice").val() != "satomi.ono@t3-japan.co.jp")
                $("#ccEngineer-choice").append("<option value='satomi.ono@t3-japan.co.jp'>satomi.ono@t3-japan.co.jp</option>");
            if ($("#ccEngineer-choice").val() != "giorgio.pirri@dptcorporate.com")
                $("#ccEngineer-choice").append("<option value='giorgio.pirri@dptcorporate.com'>giorgio.pirri@dptcorporate.com</option>");
            if ($("#ccEngineer-choice").val() != "jacopo.azzi@dptcorporate.com")
                $("#ccEngineer-choice").append("<option value='jacopo.azzi@dptcorporate.com'>jacopo.azzi@dptcorporate.com</option>");
            if ($("#ccEngineer-choice").val() != "intae.lee@t3-japan.co.jp")
                $("#ccEngineer-choice").append("<option value='intae.lee@t3-japan.co.jp'>intae.lee@t3-japan.co.jp</option>");

            if ($("#status-choice").val() != "Working")
                $("#status-choice").append("<option value='Working'>Working</option>");
            if ($("#status-choice").val() != "Waiting on R&D")
                $("#status-choice").append("<option value='Waiting on R&D'>Waiting on R&D</option>");
            if ($("#status-choice").val() != "Waiting on Customer")
                $("#status-choice").append("<option value='Waiting on Customer'>Waiting on Customer</option>");
            if ($("#status-choice").val() != "Closed")
                $("#status-choice").append("<option value='Closed'>Closed</option>");
            if ($("#status-choice").val() === "Waiting on R&amp;D") {
                $("#status-choice").val("Waiting on R&D");
                $("#status-choice option[value='Waiting on R&amp;D']").remove();
            }
            //if ($("#Status").val() != "Frozen")
            //    $("#Status").append("<option value='Frozen'>Frozen</option>");
            if ($("#type-choice").val() != "Bug")
                $("#type-choice").append("<option value='Bug'>Bug</option>");
            if ($("#type-choice").val() != "Working")
                $("#type-choice").append("<option value='Wish'>Wish</option>");
        });
    </script>
}

@using (Html.BeginForm("Modify", "Case", FormMethod.Post, new { enctype = "multipart/form-data" }))
{
    <div class="editor-label" style="font-size: 1.2em;">
        @Html.LabelFor(model => model.CaseId)
    </div>
    <div class="editor-field">
        @Html.TextBoxFor(model => model.CaseId, new { @readonly = "readonly" })
    </div>

    <div class="editor-label" style="font-size: 1.2em;">
        @Html.LabelFor(model => model.Description)
    </div>
    <div class="editor-field">
        @Html.TextAreaFor(model => model.Description, new { cols = "350", rows = "1", @readonly = "readonly" })
    </div>

    <div class="editor-label" style="font-size: 1.2em;">
        @Html.LabelFor(model => model.Details)
    </div>
    <div class="editor-field">
        @Html.TextAreaFor(model => model.Details, new { cols = "350", rows = "8", @readonly = "readonly" })
    </div>

    <table>
        <tr>
            <td>
                <div class="editor-label" style="font-size: 1.2em;">
                    @Html.LabelFor(model => model.Product)
                </div>
                <div class="editor-field">
                    @Html.TextBoxFor(model => model.Product, new { @readonly = "readonly" })
                </div>
            </td>
            <td>
                <div class="editor-label" style="font-size: 1.2em;">
                    @Html.LabelFor(model => model.ProductVersion)
                </div>
                <div class="editor-field">
                    @Html.TextBoxFor(model => model.ProductVersion, new { @readonly = "readonly" })
                </div>
            </td>
            <td>
                <div class="editor-label" style="font-size: 1.2em;">
                    @Html.LabelFor(model => model.Severity)
                </div>
                <div class="editor-field" style="width: 250px;">
                    @Html.TextBoxFor(model => model.Severity, new { @readonly = "readonly" })
                </div>
            </td>
        </tr>
        <tr>
            <td>
                <div class="editor-label" style="font-size: 1.2em;">
                    @Html.LabelFor(model => model.Platform)
                </div>
                <div class="editor-field">
                    @Html.TextBoxFor(model => model.Platform, new { @readonly = "readonly" })
                </div>
            </td>
            <td>
                <div class="editor-label" style="font-size: 1.2em;">
                    @Html.LabelFor(model => model.PlatformVersion)
                </div>
                <div class="editor-field">
                    @Html.TextBoxFor(model => model.PlatformVersion, new { @readonly = "readonly" })
                </div>
            </td>
            <td></td>
        </tr>
        <tr>
            <td>
                <div class="editor-label" style="font-size: 1.2em;">
                    @Html.LabelFor(model => model.AccountName)
                </div>
                <div class="editor-field">
                    @Html.TextBoxFor(model => model.AccountName, new { @readonly = "readonly" })
                </div>
            </td>
            <td>
                <div class="editor-label" style="font-size: 1.2em;">
                    @Html.LabelFor(model => model.Contact)
                </div>
                <div class="editor-field">
                    @Html.TextBoxFor(model => model.Contact, new { @readonly = "readonly" })
                </div>
            </td>
            <td>
                <div class="editor-label" style="font-size: 1.2em;">
                    @Html.LabelFor(model => model.Type)
                </div>
                <div class="editor-field">
                    <select name="type" id="type-choice">
                        <option selected value="@Html.DisplayFor(modelItem => modelItem.Type)">@Html.DisplayFor(modelItem => modelItem.Type)</option>
                    </select>
                </div>
            </td>
        </tr>
        <tr>
            <td>
                <div class="editor-label" style="font-size: 1.2em;">
                    @Html.LabelFor(model => model.CCEngineer)
                </div>
                <div class="editor-field">
                    <select name="ccEngineer" id="ccEngineer-choice">
                        <option selected value="@Html.DisplayFor(modelItem => modelItem.CCEngineer)">@Html.DisplayFor(modelItem => modelItem.CCEngineer)</option>
                    </select>
                </div>
            </td>
            <td>
                <div class="editor-label" style="font-size: 1.2em;">
                    @Html.LabelFor(model => model.Status)
                </div>
                <div class="editor-field">
                    <select name="Status" id="status-choice">
                        <option selected value="@Html.DisplayFor(modelItem => modelItem.Status)">@Html.DisplayFor(modelItem => modelItem.Status)</option>
                    </select>
                </div>
            </td>
            <td>
                <div class="editor-label" style="font-size: 1.2em;">
                    @Html.LabelFor(model => model.EDBnumber)
                </div>
                <div class="editor-field">
                    @Html.TextBoxFor(model => model.EDBnumber)
                </div>
            </td>
        </tr>
    </table>
    <div>
        <input type="submit" name="submitButton" value="Submit" />

        <input type="submit" name="submitButton" value="Close" />
    </div>
}
