@model DPTnew.Models.UpdateCase

@{
    ViewBag.Title = "Case Management";
}

@section Scripts {
    <script type="text/javascript">
        var yourApp = yourApp || {};
        yourApp.Urls = yourApp.Urls || {};
        yourApp.Urls.baseUrl = '@Url.Content("~")';
        yourApp.Urls.GetContacts = '@Url.Action("GetContacts", "Case")';

        $('form').one('submit', function () {
            $(this).find('button[type="submit"]').attr('disabled', 'disabled');
            setTimeout(function () {
                $(this).find('button[type="submit"]').attr('disabled', 'disabled');
            }, 6000);
            if ($("#file").val() !== "" && $("#file").val() !== null) {
                var fileName = escape($("#file").val().split("\\")[$("#file").val().split("\\").length - 1]);
                $("#fileName").val(fileName);
            }
            var desc = escape($("#Description").val());
            $("#Description").val(desc);
            var det = escape($("#Details").val());
            $("#Details").val(det);
        });

        var companies = JSON.parse(atob('@ViewBag.Companies'));
        var curuser = '@ViewBag.CurrUser';
        $(document).ready(function () {
            for (var i = 0; i < companies.length; i++) {
                $("#AccountName").append('<option value="' + companies[i].split("\"")[0].substring(0, companies[i].length - 1) + '">' + companies[i] + '</option>');
            }
            if ($("#AccountName").val() !== null && $("#AccountName").val() !== "") {
                $.post(yourApp.Urls.GetContacts, { companyName: $("#AccountName").val() },
                         function (result) {
                             $("#Contact").empty();
                             for (var i = 0; i < result.length; i++) {
                                 if (curuser == result[i].Email)
                                     $("#Contact").append("<option value='" + result[i].Email + "' selected>" + result[i].Email + "</option>");
                                 else
                                     $("#Contact").append("<option value='" + result[i].Email + "'>" + result[i].Email + "</option>");
                             }
                         });
            }

            $("#AccountName").change(function () {
                $("#Contact").empty();
                $.post(yourApp.Urls.GetContacts, { companyName: $("#AccountName").val() },
                     function (result) {
                         $("#Contact").empty();
                         for (var i = 0; i < result.length; i++) {
                             if (curuser == result[i].Email)
                                 $("#Contact").append("<option value='" + result[i].Email + "' selected>" + result[i].Email + "</option>");
                             else
                                 $("#Contact").append("<option value='" + result[i].Email + "'>" + result[i].Email + "</option>");
                         }
                     });
            });

            $("#Product").change(function () {
                $("#ProductVersion").empty()
                if ($("#Product").val() == "GBG DM")
                    $("#ProductVersion").append('<option value="old">old</option>');

                if ($("#Product").val() == "thinkdesign" || $("#Product").val() == "thinkPLM") {
                    $("#ProductVersion").append('<option value="2009.3">2009.3</option>');
                    $("#ProductVersion").append('<option value="2010.1">2010.1</option>');
                    $("#ProductVersion").append('<option value="2011.1">2011.1</option>');
                    $("#ProductVersion").append('<option value="2012.1">2012.1</option>');
                    $("#ProductVersion").append('<option value="2013.1">2013.1</option>');
                    $("#ProductVersion").append('<option value="2014.1">2014.1</option>');
                    $("#ProductVersion").append('<option value="2015.2">2015.2</option>');
                    $("#ProductVersion").append('<option value="2016.1">2016.1</option>');
                    $("#ProductVersion").append('<option value="2017.1">2017.1</option>');
                    $("#ProductVersion").append('<option value="2018.1">2018.1</option>');
                }
            });
        });
    </script>
}

@using (Html.BeginForm("Insert", "Case", FormMethod.Post, new { enctype = "multipart/form-data" }))
{
    <div class="editor-label" style="font-size: 1.2em;">
        @Html.LabelFor(model => model.CaseId)
    </div>
    <div class="editor-field">
        @Html.TextBoxFor(model => model.CaseId, new { @readonly = "readonly" })
    </div>

    <div class="editor-label" style="font-size: 1.2em;">
        @Html.LabelFor(model => model.Description)
    </div>
    <div class="editor-field">
        @Html.TextAreaFor(model => model.Description, new { cols = "350", rows = "1"@*, required = "required"*@ })
    </div>

    <div class="editor-label" style="font-size: 1.2em;">
        @Html.LabelFor(model => model.Details)
    </div>
    <div class="editor-field">
        @Html.TextAreaFor(model => model.Details, new { cols = "350", rows = "8"@*, required = "required"*@ })
    </div>

    <table>
        <tr>
            <td>
                <div class="editor-label" style="font-size: 1.2em;">
                    @Html.LabelFor(model => model.Product)
                </div>
                <div class="editor-field">
                    @Html.DropDownList("Product", new List<SelectListItem>
                {
                    new SelectListItem{ Text="ThinkDesign", Value = "thinkdesign", Selected = true },
                    new SelectListItem{ Text="GBG DM", Value = "GBG DM" },
                    new SelectListItem{ Text="thinkPLM", Value = "thinkPLM" }
                 }, new { style = "width : 250px" })
                </div>
            </td>
            <td>
                <div class="editor-label" style="font-size: 1.2em;">
                    @Html.LabelFor(model => model.ProductVersion)
                </div>
                <div class="editor-field">
                    @Html.DropDownList("ProductVersion", new List<SelectListItem>
                {
                    new SelectListItem{ Text="2009.3", Value = "2009.3", Selected = true },
                    new SelectListItem{ Text="2010.1", Value = "2010.1" },
                    new SelectListItem{ Text="2011.1", Value = "2011.1" },
                    new SelectListItem{ Text="2012.1", Value = "2012.1" },
                    new SelectListItem{ Text="2013.1", Value = "2013.1" },
                    new SelectListItem{ Text="2014.1", Value = "2014.1" },
                    new SelectListItem{ Text="2015.2", Value = "2015.2" },
                    new SelectListItem{ Text="2016.1", Value = "2016.1" },
                    new SelectListItem{ Text="2017.1", Value = "2017.1" },
                    new SelectListItem{ Text="2018.1", Value = "2018.1" }
                 }, new { style = "width : 250px" })
                </div>
            </td>
            <td>
                <div class="editor-label" style="font-size: 1.2em;">
                    @Html.LabelFor(model => model.Severity)
                </div>
                <div class="editor-field" style="width: 250px;">
                    @Html.DropDownList("Severity", new List<SelectListItem>
                {
                    new SelectListItem{ Text="Low", Value = "Low", Selected = true },
                    new SelectListItem{ Text="Medium", Value = "Medium" },
                    new SelectListItem{ Text="High", Value = "High" }
                 }, new { style = "width : 250px" })
                </div>
            </td>
        </tr>
        <tr>
            <td>
                <div class="editor-label" style="font-size: 1.2em;">
                    @Html.LabelFor(model => model.Platform)
                </div>
                <div class="editor-field">
                    @Html.DropDownList("Platform", new List<SelectListItem>
                {
                    new SelectListItem{ Text="All", Value = "All", Selected = true },
                    new SelectListItem{ Text="Windows 10 64bit", Value = "Windows 10 64bit" },
                    new SelectListItem{ Text="Windows 8 64bit", Value = "Windows 8 64bit" },
                    new SelectListItem{ Text="Windows 8 32bit", Value = "Windows 8 32bit" },
                    new SelectListItem{ Text="Windows 7 64bit", Value = "Windows 7 64bit" },
                    new SelectListItem{ Text="Windows 7 32bit", Value = "Windows 7 32bit" },
                    new SelectListItem{ Text="Win Vista 64bit", Value = "Win Vista 64bit" },
                    new SelectListItem{ Text="Win Vista 32bit", Value = "Win Vista 32bit" },
                    new SelectListItem{ Text="Win Server 2008 64bit", Value = "Win Server 2008 64bit" },
                    new SelectListItem{ Text="Win Server 2008 32bit", Value = "Win Server 2008 32bit" },
                    new SelectListItem{ Text="Win Server 2003 64bit", Value = "Win Server 2003 64bit" },
                    new SelectListItem{ Text="Win Server 2003 32bit", Value = "Win Server 2003 32bit" }
                }, new { style = "width : 250px" })
                </div>
            </td>
            <td>
                <div class="editor-label" style="font-size: 1.2em;">
                    @Html.LabelFor(model => model.PlatformVersion)
                </div>
                <div class="editor-field">
                    @Html.DropDownList("PlatformVersion", new List<SelectListItem>
                {
                    new SelectListItem{ Text="Both", Value = "Both", Selected = true },
                    new SelectListItem{ Text="Win32", Value = "Win32" },
                    new SelectListItem{ Text="x64", Value = "x64" }
                 }, new { style = "width : 250px" })
                </div>
            </td>
            <td></td>
        </tr>
        <tr>
            <td>
                <div class="editor-label" style="font-size: 1.2em;">
                    @Html.LabelFor(model => model.AccountName)
                </div>
                <div class="editor-field">
                    @Html.DropDownList("AccountName", new SelectList(string.Empty, "Value", "Text"), new { style = "width : 250px", required = "required" })
                </div>
            </td>
            <td>
                <div class="editor-label" style="font-size: 1.2em;">
                    @Html.LabelFor(model => model.Contact)
                </div>
                <div class="editor-field">
                    @Html.DropDownList("Contact", new SelectList(string.Empty, "Value", "Text"), new { style = "width : 250px", required = "required" })
                </div>
            </td>
            <td>
                <div class="editor-field">
                    @Html.TextBoxFor(model => model.fileName, new { @hidden = "hidden" })
                </div>
            </td>
        </tr>
    </table>
    <input type="file" name="file" id="file" />

    <div>
        <input type="submit" name="submitButton" value="Submit" />

        <input type="submit" name="submitButton" value="Close" />
    </div>
}
