@model IEnumerable<DPTnew.Models.UpdateCase>

@{
    ViewBag.Title = "Case Management";
}

@section Scripts {
    <link href="~/Content/jquery-ui.min.css" rel="stylesheet" />
    <script src="~/Scripts/jquery-ui.min.js"></script>
    <script type="text/javascript">
        var yourApp = yourApp || {};
        yourApp.Urls = yourApp.Urls || {};
        yourApp.Urls.baseUrl = '@Url.Content("~")';
        yourApp.Urls.GetContacts = '@Url.Action("GetContacts", "Case")';
        yourApp.Urls.UploadFile = '@Url.Action("UploadFile", "Case")';

        $('form').one('submit', function () {
            $("input[name=filename]").val(escape($("input[name=file]").val().split("\\")[$("input[name=file]").val().split("\\").length - 1]));
        });

        var companies = JSON.parse(atob('@ViewBag.Companies'));
        function submitform() {
            $(this).find('button[type="submit"]').attr('disabled', 'disabled');
            setTimeout(function () {
                $(this).find('button[type="submit"]').attr('disabled', 'disabled');
            }, 2000);
            if ($("#item_Description").val() == "" || $("#item_Details").val() == "") {
                var $psw = $("#errmsg");
                $psw.text("");
                $psw.text("Please fill out Description and details fields!");
                var pwdDialogConfig = {
                    modal: true,
                    width: 400,
                    height: 250,
                    buttons: {
                        OK: function () {
                            $(this).dialog("close");
                        }
                    }
                };
                $("#sysmsg-dialog").dialog(pwdDialogConfig);
            }
            else
                $.post("/Case/Insert", {
                    Description: $("#item_Description").val(),
                    Details: $("#item_Details").val(),
                    Product: $("#product-choice").val(),
                    ProductVersion: $("#productVersion-choice").val(),
                    Severity: $("#severity-choice").val(),
                    MachineId: $("input[name=machineId]").val(),
                    Platform: $("#platform-choice").val(),
                    PlatformVersion: $("#platformVersion-choice").val(),
                    AccountName: $("#accountName-choice").val(),
                    Contact: $("#contact-choice").val()
                },
                function (result) {
                    $("#caseRowID").val(result);
                    $("#msg").val("The new case has been saved correctly!");
                    $("#msgConfirm").val("Choose the file and click Submit");
                    var pwdDialogConfig = {
                        modal: true,
                        width: 400,
                        height: 300
                        //buttons: {
                        //    OK: function () {
                        //        $(this).dialog("close");
                        //    }
                        //}
                    };
                    $("#fileupload-dialog").dialog(pwdDialogConfig);
                });
        }

        $(document).ready(function () {
            for (var i = 0; i < companies.length; i++) {
                $("#accountName-choice").append('<option value="' + companies[i].split("\"")[0].substring(0, companies[i].length - 1) + '">' + companies[i] + '</option>');
            }

            $("#accountName-choice").change(function () {
                $("#contact-choice").empty();
                $.post(yourApp.Urls.GetContacts, { companyName: $("#accountName-choice").val() },
                     function (result) {
                         $("#contact-choice").empty();
                         for (var i = 0; i < result.length; i++) {
                             $("#contact-choice").append("<option value='" + result[i].Email + "'>" + result[i].Email + "</option>");
                         }
                     });
            });

            $("#product-choice").change(function () {
                $("#productVersion-choice").empty()
                if ($("#product-choice").val() == "GBG DM")
                    $("#productVersion-choice").append('<option value="old" selected>old</option>');

                if ($("#product-choice").val() == "thinkdesign" || $("#product-choice").val() == "thinkPLM") {
                    $("#productVersion-choice").append('<option value="2009.3" selected>2009.3</option>');
                    $("#productVersion-choice").append('<option value="2010.1">2010.1</option>');
                    $("#productVersion-choice").append('<option value="2011.1">2011.1</option>');
                    $("#productVersion-choice").append('<option value="2012.1">2012.1</option>');
                    $("#productVersion-choice").append('<option value="2013.1">2013.1</option>');
                    $("#productVersion-choice").append('<option value="2014.1">2014.1</option>');
                    $("#productVersion-choice").append('<option value="2015.2">2015.2</option>');
                    $("#productVersion-choice").append('<option value="2016.1">2016.1</option>');
                }
            });
        });
    </script>
}

@foreach (var item in Model)
{
    <div class="editor-label" style="font-size: 1.2em;">
        @Html.DisplayNameFor(model => model.CaseId)
    </div>
    <div class="editor-field">
        <input type="number" name="id" value="@Html.DisplayFor(modelItem => item.CaseId)" readonly>
    </div>
    <div class="editor-label" style="font-size: 1.2em;">
        @Html.DisplayNameFor(model => model.Description)
    </div>
    <div class="editor-field">
        @Html.TextAreaFor(modelItem => item.Description, new { @cols = 350, @rows = 1, @required = "required" })
    </div>
    <div class="editor-label" style="font-size: 1.2em;">
        @Html.DisplayNameFor(model => model.Details)
    </div>
    <div class="editor-field">
        @Html.TextAreaFor(modelItem => item.Details, new { @cols = 350, @rows = 8, @required = "required" })
    </div>
}
<table id="dptcase" class="display" cellspacing="0" width="100%">
    <thead>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>@Html.DisplayNameFor(model => model.Product)</td>
                <td>
                    <select name="product" id="product-choice">
                        <option value="ThinkDesign" selected>thinkdesign</option>
                        <option value="GBG DM">GBG DM</option>
                        <option value="thinkPLM">thinkPLM</option>
                    </select>
                </td>
                <td>@Html.DisplayNameFor(model => model.ProductVersion)</td>
                <td>
                    <select name="productVersion" id="productVersion-choice">
                        <option value="2009.3" selected>2009.3</option>
                        <option value="2010.1">2010.1</option>
                        <option value="2011.1">2011.1</option>
                        <option value="2012.1">2012.1</option>
                        <option value="2013.1">2013.1</option>
                        <option value="2014.1">2014.1</option>
                        <option value="2015.2">2015.2</option>
                        <option value="2016.1">2016.1</option>
                    </select>
                </td>
                <td>@Html.DisplayNameFor(model => model.Severity)</td>
                <td>
                    <select name="severity" id="severity-choice">
                        <option value="Low" selected>Low</option>
                        <option value="Medium">Medium</option>
                        <option value="High">High</option>
                    </select>
                </td>
            </tr>
            <tr>
                <td>@Html.DisplayNameFor(model => model.MachineId)</td>
                <td>
                    <input type="text" name="machineId" value="@Html.DisplayFor(modelItem => item.MachineId)">
                </td>
                <td>@Html.DisplayNameFor(model => model.Platform)</td>
                <td>
                    <select name="platform" id="platform-choice">
                        <option value="All" selected>All</option>
                        <option value="Windows 10 64bit">Windows 10 64bit</option>
                        <option value="Windows 8 64bit">Windows 8 64bit</option>
                        <option value="Windows 8 32bit">Windows 8 32bit</option>
                        <option value="Windows 7 64bit">Windows 7 64bit</option>
                        <option value="Windows 7 32bit">Windows 7 32bit</option>
                        <option value="Win Vista 64bit">Win Vista 64bit</option>
                        <option value="Win Vista 32bit">Win Vista 32bit</option>
                        <option value="Win Server 2008 64bit">Win Server 2008 64bit</option>
                        <option value="Win Server 2008 32bit">Win Server 2008 32bit</option>
                        <option value="Win Server 2003 64bit">Win Server 2003 64bit</option>
                        <option value="Win Vista 32bit">Win Server 2003 32bit</option>
                    </select>
                </td>
                <td>@Html.DisplayNameFor(model => model.PlatformVersion)</td>
                <td>
                    <select name="platformVersion" id="platformVersion-choice">
                        <option value="Both" selected>Both</option>
                        <option value="Win32">Win32</option>
                        <option value="x64">x64</option>
                    </select>
                </td>
            </tr>
        }
    </tbody>
</table>
<table id="dptcase2" class="display" cellspacing="0" width="100%">
    <thead>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>@Html.DisplayNameFor(model => model.AccountName)</td>
                <td>
                    <select name="accountName" id="accountName-choice">
                        <option selected value="@Html.DisplayFor(modelItem => item.AccountName)">@Html.DisplayFor(modelItem => item.AccountName)</option>
                    </select>
                </td>
            </tr>
            <tr>
                <td>@Html.DisplayNameFor(model => model.Contact)</td>
                <td>
                    <select name="contact" id="contact-choice">
                        <option selected value="@Html.DisplayFor(modelItem => item.Contact)">@Html.DisplayFor(modelItem => item.Contact)</option>
                    </select>
                </td>
            </tr>
            <tr>
                <td><a href="javascript: submitform()"><input type="submit" value="Submit" /></a></td>
            </tr>
        }
    </tbody>
</table>
<div id="fileupload-dialog" title="Upload File" style="display: none;">
    @using (Html.BeginForm("UploadFile", "Case", FormMethod.Post, new { enctype = "multipart/form-data" }))
    {
        <input type="text" name="msg" id="msg" readonly />

        <label for="newCaseID">Case ID: </label>

        <input type="text" name="caseRowID" id="caseRowID" readonly />

        <input type="submit" name="submitButton" value="close" />

        <input type="text" name="msgConfirm" id="msgConfirm" readonly />

        <input type="file" name="file" id="file" accept=".*" />

        <input type="submit" name="submitButton" value="submit" />

        <input type="text" name="filename" id="filename" hidden />
    }
</div>
<div id="sysmsg-dialog" title="System message" style="display:none;">
    <strong style="position:absolute; margin-top:20px;" id="errmsg"></strong>
</div>
