@model DPTnew.Models.UpdateCase

@{
    ViewBag.Title = "Case Management";
}

@section Scripts {
    <script type="text/javascript">
        var yourApp = yourApp || {};
        yourApp.Urls = yourApp.Urls || {};
        yourApp.Urls.baseUrl = '@Url.Content("~")';
        yourApp.Urls.GetContacts = '@Url.Action("GetContacts", "Case")';

        var companies = JSON.parse(atob('@ViewBag.Companies'));
        $(document).ready(function () {
            for (var i = 0; i < companies.length; i++) {
                $("#AccountName").append('<option value="' + companies[i] + '">' + companies[i] + '</option>');
            }

            $("#AccountName").change(function () {
                $("#Contact").empty();
                $.post(yourApp.Urls.GetContacts, { companyName: $("#AccountName").val() },
                     function (result) {
                         for (var i = 0; i < result.length; i++) {
                             $("#Contact").append("<option value='" + result[i].Email + "'>" + result[i].Email + "</option>");
                         }
                     });
            });

            $("#Product").change(function () {
                $("#ProductVersion").empty()
                if ($("#Product").val() == "GBG DM")
                    $("#ProductVersion").append('<option value="old">old</option>');

                if ($("#Product").val() == "TD PLM" || $("#Product").val() == "ZmackMind") {
                    $("#ProductVersion").append('<option value="2009.3">2009.3</option>');
                    $("#ProductVersion").append('<option value="2010.1">2010.1</option>');
                }
                if ($("#Product").val() == "thinkdesign" || $("#Product").val() == "thinkPLM") {
                    $("#ProductVersion").append('<option value="2009.3">2009.3</option>');
                    $("#ProductVersion").append('<option value="2010.1">2010.1</option>');
                    $("#ProductVersion").append('<option value="2011.1">2011.1</option>');
                    $("#ProductVersion").append('<option value="2012.1">2012.1</option>');
                    $("#ProductVersion").append('<option value="2013.1">2013.1</option>');
                    $("#ProductVersion").append('<option value="2014.1">2014.1</option>');
                    $("#ProductVersion").append('<option value="2015.2">2015.2</option>');
                    $("#ProductVersion").append('<option value="2016.1">2016.1</option>');
                }
            });
        });
    </script>
}

@using (Html.BeginForm("Insert", "Case", FormMethod.Post, new { enctype = "multipart/form-data" }))
{

    <div class="editor-label" style="font-size: 1.2em;">
        @Html.LabelFor(model => model.CaseId)
    </div>
    <div class="editor-field">
        @Html.TextBoxFor(model => model.CaseId, new { @readonly = "readonly" })
    </div>

    <div class="editor-label" style="font-size: 1.2em;">
        @Html.LabelFor(model => model.Description)
    </div>
    <div class="editor-field">
        @Html.TextAreaFor(model => model.Description, new { cols = "350", rows = "1", required = "required" })
    </div>

    <div class="editor-label" style="font-size: 1.2em;">
        @Html.LabelFor(model => model.Details)
    </div>
    <div class="editor-field">
        @Html.TextAreaFor(model => model.Details, new { cols = "350", rows = "5", required = "required" })
    </div>

    <table>
        @if (ViewBag.UserRole.ToString().ToLower() == "false")
        {

            <tr>
                <td>
                    <div class="editor-label" style="font-size: 1.2em;">
                        @Html.LabelFor(model => model.Product)
                    </div>
                    <div class="editor-field">
                        @Html.DropDownList("Product", new List<SelectListItem>
                {
                    new SelectListItem{ Text="thinkdesign", Value = "thinkdesign", Selected = true },
                    new SelectListItem{ Text="GBG DM", Value = "GBG DM" },
                    new SelectListItem{ Text="TD PLM", Value = "TD PLM" },
                    new SelectListItem{ Text="thinkPLM", Value = "thinkPLM" },
                    new SelectListItem{ Text="ZmackMind", Value = "ZmackMind" }
                 }, new { style = "width : 250px" })
                    </div>
                </td>
                <td>
                    <div class="editor-label" style="font-size: 1.2em;">
                        @Html.LabelFor(model => model.ProductVersion)
                    </div>
                    <div class="editor-field">
                        @Html.DropDownList("ProductVersion", new List<SelectListItem>
                {
                    new SelectListItem{ Text="2009.3", Value = "2009.3", Selected = true },
                    new SelectListItem{ Text="2010.1", Value = "2010.1" },
                    new SelectListItem{ Text="2011.1", Value = "2011.1" },
                    new SelectListItem{ Text="2012.1", Value = "2012.1" },
                    new SelectListItem{ Text="2013.1", Value = "2013.1" },
                    new SelectListItem{ Text="2014.1", Value = "2014.1" },
                    new SelectListItem{ Text="2015.2", Value = "2015.2" },
                    new SelectListItem{ Text="2016.1", Value = "2016.1" }
                 }, new { style = "width : 250px" })
                    </div>
                </td>
                <td>
                    <div class="editor-label" style="font-size: 1.2em;">
                        @Html.LabelFor(model => model.Severity)
                    </div>
                    <div class="editor-field" style="width: 250px;">
                        @Html.DropDownList("Severity", new List<SelectListItem>
                {
                    new SelectListItem{ Text="Low", Value = "Low", Selected = true },
                    new SelectListItem{ Text="Medium", Value = "Medium" },
                    new SelectListItem{ Text="High", Value = "High" }
                 }, new { style = "width : 250px" })
                    </div>
                </td>
            </tr>
            <tr>
                <td>
                    <div class="editor-label" style="font-size: 1.2em;">
                        @Html.LabelFor(model => model.MachineId)
                    </div>
                    <div class="editor-field">
                        @Html.TextBoxFor(model => model.MachineId, new { required = "required" })
                    </div>
                </td>
                <td>
                    <div class="editor-label" style="font-size: 1.2em;">
                        @Html.LabelFor(model => model.Platform)
                    </div>
                    <div class="editor-field">
                        @Html.DropDownList("Platform", new List<SelectListItem>
                {
                    new SelectListItem{ Text="All", Value = "All", Selected = true },
                    new SelectListItem{ Text="Windows 10 64bit", Value = "Windows 10 64bit" },
                    new SelectListItem{ Text="Windows 8 64bit", Value = "Windows 8 64bit" },
                    new SelectListItem{ Text="Windows 8 32bit", Value = "Windows 8 32bit" },
                    new SelectListItem{ Text="Windows 7 64bit", Value = "Windows 7 64bit" },
                    new SelectListItem{ Text="Windows 7 32bit", Value = "Windows 7 32bit" },
                    new SelectListItem{ Text="Win Vista 64bit", Value = "Win Vista 64bit" },
                    new SelectListItem{ Text="Win Vista 32bit", Value = "Win Vista 32bit" },
                    new SelectListItem{ Text="Win Server 2008 64bit", Value = "Win Server 2008 64bit" },
                    new SelectListItem{ Text="Win Server 2008 32bit", Value = "Win Server 2008 32bit" },
                    new SelectListItem{ Text="Win Server 2003 64bit", Value = "Win Server 2003 64bit" },
                    new SelectListItem{ Text="Win Server 2003 32bit", Value = "Win Server 2003 32bit" },
                    new SelectListItem{ Text="PC - WINXP 64bit", Value = "PC - WINXP 64bit" },
                    new SelectListItem{ Text="PC - WINXP", Value = "PC - WINXP" },
                    new SelectListItem{ Text="PC - WINNT", Value = "PC - WINNT" },
                    new SelectListItem{ Text="PC - WINME", Value = "PC - WINME" },
                    new SelectListItem{ Text="PC - WIN98", Value = "PC - WIN98" },
                    new SelectListItem{ Text="PC - WIN95", Value = "PC - WIN95" },
                    new SelectListItem{ Text="PC - WIN2000", Value = "PC - WIN2000" }
                }, new { style = "width : 250px" })
                    </div>
                </td>
                <td>
                    <div class="editor-label" style="font-size: 1.2em;">
                        @Html.LabelFor(model => model.PlatformVersion)
                    </div>
                    <div class="editor-field">
                        @Html.DropDownList("PlatformVersion", new List<SelectListItem>
                {
                    new SelectListItem{ Text="Both", Value = "Both", Selected = true },
                    new SelectListItem{ Text="Win32", Value = "Win32" },
                    new SelectListItem{ Text="x64", Value = "x64" }
                 }, new { style = "width : 250px" })
                    </div>
                </td>
            </tr>
            <tr>
                <td>
                    <div class="editor-label" style="font-size: 1.2em;">
                        @Html.LabelFor(model => model.AccountName)
                    </div>
                    <div class="editor-field">
                        @Html.DropDownList("AccountName", new SelectList(string.Empty, "Value", "Text"), new { style = "width : 250px" })
                    </div>
                </td>
                <td>
                    <div class="editor-label" style="font-size: 1.2em;">
                        @Html.LabelFor(model => model.Contact)
                    </div>
                    <div class="editor-field">
                        @Html.DropDownList("Contact", new SelectList(string.Empty, "Value", "Text"), new { style = "width : 250px" })
                    </div>
                </td>
                <td></td>
            </tr>
        }
        @if (ViewBag.UserRole.ToString().ToLower() == "true")
        {
            <tr>
                <td>
                    <div class="editor-label" style="font-size: 1.2em;">
                        @Html.LabelFor(model => model.CCEngineer)
                    </div>
                    <div class="editor-field">
                        @Html.TextBoxFor(model => model.CCEngineer)
                    </div>
                </td>
                <td>
                    <div class="editor-label" style="font-size: 1.2em;">
                        @Html.LabelFor(model => model.Status)
                    </div>
                    <div class="editor-field">
                        @Html.DropDownList("Status", new List<SelectListItem>
                {
                    new SelectListItem{ Text="Open", Value = "Open", Selected = true },
                    new SelectListItem{ Text="Working", Value = "Working" },
                    new SelectListItem{ Text="Waiting on R&D", Value = "Waiting on R&D" },
                    new SelectListItem{ Text="Waiting on Customer", Value = "Waiting on Customer" },
                    new SelectListItem{ Text="Closed", Value = "Closed" },
                    new SelectListItem{ Text="Frozen", Value = "Frozen" }
                 }, new { style = "width : 250px" })
                    </div>
                </td>
                <td></td>
            </tr>
        }
    </table>
    <div class="editor-label" style="font-size: 1.2em;">
        @Html.LabelFor(model => model.file)
    </div>
    <div class="editor-field">
        @Html.TextBoxFor(model => model.file, new { type = "file" })
    </div>


    <input type="submit" />
}
