@model DPTnew.ViewModels.Customer

@{
    ViewBag.Title = "Details1";
}

<h2>Details1</h2>

<fieldset>
    <legend>Company</legend>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.Company.AccountName)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.Company.AccountName)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.Company.AccountType)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.Company.AccountType)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.Company.Address)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.Company.Address)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.Company.ZIP)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.Company.ZIP)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.Company.City)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.Company.City)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.Company.Province)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.Company.Province)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.Company.Region)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.Company.Region)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.Company.Country)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.Company.Country)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.Company.Website)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.Company.Website)
    </div>
</fieldset>
<fieldset>
    <legend>Contact</legend>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.Contact.Email)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.Contact.Email)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.Contact.OriginalPassword)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.Contact.OriginalPassword)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.Contact.ContactNumber)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.Contact.ContactNumber)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.Contact.FullName)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.Contact.FullName)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.Contact.FirstName)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.Contact.FirstName)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.Contact.LastName)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.Contact.LastName)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.Contact.Language)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.Contact.Language)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.Contact.Status)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.Contact.Status)
    </div>
</fieldset>
<p>
    @Html.ActionLink("Edit", "Edit", new { id=Model.Company.AccountNumber }) |
    @Html.ActionLink("Back to List", "Index")
</p>
