@model IEnumerable<DPTnew.Models.CompanyView>

@{
    ViewBag.Title = "Modify";
}


@section Scripts {

    <script type="text/javascript">

        var yourApp = yourApp || {};
        yourApp.Urls = yourApp.Urls || {};
        yourApp.Urls.baseUrl = '@Url.Content("~")';
        yourApp.Urls.ModifyUrl = '@Url.Action("Modify", "Company")';

        function submitform() {
            $.post("/Company/Modify", {
                AccountNumber: $("input[name=accountNumber]").val(),
                AccountName: $("input[name=accountName]").val(),
                AccountKind: $("input[name=accountKind]").val(),
                ShortStatus: $("input[name=shortStatus]").val(),
                SalesRep: $("input[name=salesRep]").val(),
                Address: $("input[name=address]").val(),
                ZIP: $("input[name=zip]").val(),
                City: $("input[name=city]").val(),
                Province: $("input[name=province]").val(),
                Country: $("input[name=country]").val(),
                Email: $("input[name=email]").val(),
            },
            function (result) {
                window.confirm("Saved!");
            });
        }

    </script>
    <link href="~/Content/jquery-ui.min.css" rel="stylesheet" />
    <script src="~/Scripts/jquery-ui.min.js"></script>
    <script type="text/javascript">
        var yourApp = yourApp || {};
        yourApp.Urls = yourApp.Urls || {};
        yourApp.Urls.baseUrl = '@Url.Content("~")';

        $(document).ready(function () {

        });
    </script>
}

<table id="dptCompany" class="display" cellspacing="0" width="100%">
    <thead>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>@Html.DisplayNameFor(model => model.AccountNumber)</td>
                <td>
                    <input type="text" name="accountNumber" value="@Html.DisplayFor(modelItem => item.AccountNumber)" readonly>
                </td>
                <td>@Html.DisplayNameFor(model => model.AccountName)</td>
                <td>
                    <input type="email" name="accountName" value="@Html.DisplayFor(modelItem => item.AccountName)" readonly>
                </td>
            </tr>
            <tr>
                <td>@Html.DisplayNameFor(model => model.AccountKind)</td>
                <td>
                    <input type="text" name="accountKind" value="@Html.DisplayFor(modelItem => item.AccountKind)" readonly>
                </td>
                <td>@Html.DisplayNameFor(model => model.ShortStatus)</td>
                <td>
                    <input type="text" name="shortStatus" value="@Html.DisplayFor(modelItem => item.ShortStatus)" readonly>
                </td>
            </tr>
            <tr>
                <td>@Html.DisplayNameFor(model => model.SalesRep)</td>
                <td>
                    <input type="text" name="salesRep" value="@Html.DisplayFor(modelItem => item.SalesRep)" readonly>
                </td>
            </tr>
            <tr>
                <td>@Html.DisplayNameFor(model => model.Address)</td>
                <td>
                    <input type="text" name="address" value="@Html.DisplayFor(modelItem => item.Address)" readonly>
                </td>
                <td>@Html.DisplayNameFor(model => model.ZIP)</td>
                <td>
                    <input type="text" name="zip" value="@Html.DisplayFor(modelItem => item.ZIP)" readonly>
                </td>
            </tr>
            <tr>
                <td>@Html.DisplayNameFor(model => model.City)</td>
                <td>
                    <input type="text" name="city" value="@Html.DisplayFor(modelItem => item.City)" readonly>
                </td>
                <td>@Html.DisplayNameFor(model => model.Province)</td>
                <td>
                    <input type="text" name="province" value="@Html.DisplayFor(modelItem => item.Province)" readonly>
                </td>
            </tr>
            <tr>
        <td>@Html.DisplayNameFor(model => model.Country)</td>
        <td>
            <input type="text" name="country" value="@Html.DisplayFor(modelItem => item.Country)" readonly>
        </td>
        <td>@Html.DisplayNameFor(model => model.Email)</td>
        <td>
            <input type="email" name="email" value="@Html.DisplayFor(modelItem => item.Email)" readonly>
        </td>
        </tr>
        }
        </tbody>
    </table>
    <p><a href="javascript: submitform()">Submit</a></p>
