@model DPTnew.Models.LicenseView

@{
    ViewBag.Title = "Licenses";
}


@section Scripts {
    @if (ViewBag.IsAdmin || ViewBag.IsVarExpInt)
    {
        <link href="~/Content/jquery-ui.min.css" rel="stylesheet" />
        <script src="~/Scripts/jquery-ui.min.js"></script>
    }
    <script src="~/Scripts/License/table_list_buttons.js"> </script>
    <link href="~/Content/buttons.dataTables.min.css" rel="stylesheet" />
    <link href="~/Content/jquery.dataTables.min.css" rel="stylesheet" />
    @*<script src="~/Scripts/jquery.dataTables.min.js"></script>*@
    <script src="~/Scripts/dataTables.buttons.min.js"></script>
    <script src="~/Scripts/buttons.flash.min.js"></script>
    <script src="~/Scripts/jszip.min.js"></script>
    <script src="~/Scripts/pdfmake.min.js"></script>
    <script src="~/Scripts/vfs_fonts.js"></script>
    <script src="~/Scripts/buttons.html5.min.js"></script>
    <script src="~/Scripts/buttons.print.min.js"></script>
    <script type="text/javascript">

        var yourApp = yourApp || {};
        yourApp.Urls = yourApp.Urls || {};
        yourApp.Urls.baseUrl = '@Url.Content("~")';
        yourApp.Urls.exportUrl = '@Url.Action("Export", "User")';
        yourApp.Urls.createUrl = '@Url.Action("Create", "User")';
        yourApp.Urls.validateUrl = '@Url.Action("Validate", "User")';
        yourApp.Urls.licenseStateUrl = '@Url.Action("StateByLicenceId", "License")';
        yourApp.Urls.Upgrade = '@Url.Action("UpgradeLicense", "User")';
        yourApp.Urls.DataUrl = '@Url.Action("SingleLicenseRow", "License")';
        yourApp.Urls.AddLicenseUrl = '@Url.Action("AddLicenseRow", "License")';

        /* init drop down */
        function initdropdown(table) {

            yadcf.init(table, [
      { column_number: 4, filter_default_label: "@DPTnew.Localization.Resource.Select", data: ["dptxsw", "gbgdm", "tcatiav4", "tdbase", "tddrafting", "tdengineering", "tdengineeringplus", "tdirectrw", "tdmolding", "tdprofessional", "tdstyling", "tdtooling", "tdvar", "tdviewerplus", "tdxchangereader", "thinkapigsm", "thinkcore", "thinkom", "thinkprint", "tteamadd", "tteamdev", "tteamdoc", "tteampcb", "tteampcm", "tteampdm", "webteam"] },
    { column_number: 5, filter_default_label: "@DPTnew.Localization.Resource.Select", data: ["asf", "pl"] },
    { column_number: 6, filter_default_label: "@DPTnew.Localization.Resource.Select", data: ["L", "Fx "] },
    //{ column_number: 8, filter_default_label: "@DPTnew.Localization.Resource.Select", data: ["j: next 30 days", "e: > 1 year", "h: > 1 month", "g: > 3 months", "k: next 3 months", "m: even later", "c: > 3 years", "a: > 10 years", "i: last 30 days", "b: > 5 years", "f: > 6 months", "d: > 2 years", "l: next year"] },
    { column_number: 8, filter_default_label: "@DPTnew.Localization.Resource.Select", data: ["a: pre T3 EP", "b: pre DPT", "c: > 2 years", "d: > 1 year", "e: > 3 quarters", "f: > 2 quarters", "g: > 1 quarter", "h: > 1 month", "i: last 30 days", "j: next 30 days", "k: next 90 days", "l: next 180 days", "m: next 270 days", "n: next 365 days", "o: even later"] },
    { column_number: 9, filter_default_label: "@DPTnew.Localization.Resource.Select", data: ["2008", "2009", "2006", "2011", "2014", "2007", "2005", "2015", "2010", "2012", "2013", "2016"] }]);

        }
        /* Formatting function for row details - modify as you need */
        function format(d) {
            // `d` is the original data object for the row
            return '<table cellpadding="5" cellspacing="0" border="0" width="100%" style="padding-left:50px;">' +
               '<tr>' +
                    '<td><b>Start Date:</b></td>' +
                    '<td>' + d.SD + '</td>' +
                    '<td><b>End Date:</b></td>' +
                    '<td>' + d.ED + '</td>' +
                    '<td><b>Maint Start Date:</b></td>' +
                    '<td>' + d.MSD + '</td>' +
                    '<td><b>Maint End Date:</b></td>' +
                    '<td>' + d.MED + '</td>' +
                    '<td><b>Ancestor:</b></td>' +
                    '<td>' + d.Ancestor + '</td>' +
                '</tr>' +

                 '<tr>' +
                    '<td><b>MachineID:</b></td>' +
                    '<td>' + d.MachineID + '</td>' +
                    //'<td><b>License Kind:</b></td>' +
                    //'<td>' + d.LicenseKind + '</td>' +
                    '<td><b>Note:</b></td>' +
                    '<td>' + d.Note + '</td>' +
                   '<td><b>Exported Num:</b></td>' +
                   '<td>' + d.ExportedNum + '</td>' +
                   '<td><b>Max Export:</b></td>' +
                   '<td>' + d.MaxExport + '</td>' +
                    '<td><b>Legacy Product:</b></td>' +
                    '<td>' + d.OriginalProduct + '</td>' +
               '</tr>' +
                '<tr>' +
                    '<td><b>Action:</b></td>' +
                    '<td>' + d.Action + '</td>' +
                '</tr>' +
                     '</table>';
        }




        $(document).ready(function () {
            var ltConfig = {
                serverSide: true,
                processing: true,
                dom: 'lBfrtip',
                buttons: [
                    'csv', 'excel', 'pdf'
                ],
                ajax: {
                    type: "POST",
                    url: "License/Search"
                },
                columns: [
                {
                    "className": 'details-control',
                    "orderable": false,
                    "data": null,
                    "defaultContent": ''
                },
                { data: "AccountNumber", "className": 'no-dropdown' },
                { data: "AccountName", "className": 'no-dropdown' },
                { data: "LicenseID", "className": 'no-dropdown' },
                { data: "ProductName" },
                { data: "ArticleDetail", "className": 'mycenter-text' },
                { data: "ServLicense1", "className": 'mycenter-text' }, //union of type and quantity
                { data: "MED", type: "date", "width": "10%", "className": 'no-dropdown', "className": 'mycenter-text' },
                { data: "LastExp" },
                { data: "Version", "className": 'mycenter-text' }
                ],
                orderClasses: false
            };
            if ("@ViewBag.IsAdmin.ToString().ToLower()" == "false" && "@ViewBag.IsVarExpInt.ToString().ToLower()" == "false") {
                var searchFilterHandler = function () {
                    var api = this.api();
                    api.$("td:not(.details-control)").click(function () {
                        api.search(this.innerText).draw();
                        //api.columns(this.cellIndex).search( this.innerHTML ).draw();
                    });
                };
                ltConfig.drawCallback = ltConfig.initComplete = searchFilterHandler;
            }

            loadLicenseTable(ltConfig, "@ViewBag.IsAdmin.ToString().ToLower()" == "true" || "@ViewBag.IsVarExpInt.ToString().ToLower()" == "true",
                "@ViewBag.IsAdmin.ToString().ToLower()" == "true" || "@ViewBag.IsVarExpInt.ToString().ToLower()" == "true",
                    "@ViewBag.IsAdmin.ToString().ToLower()" == "true" || "@ViewBag.IsInternal.ToString().ToLower()" == "true",
                    ["@DPTnew.Localization.Resource.ButtonExport", "@DPTnew.Localization.Resource.ButtonValidateExport",
                "@DPTnew.Localization.Resource.ButtonInstall2015", "@DPTnew.Localization.Resource.ButtonInstallMin2015",
                "@DPTnew.Localization.Resource.ButtonPasswordMin2015", "@DPTnew.Localization.Resource.ChangeVersion",
                "@DPTnew.Localization.Resource.ButtonDecryptPwd", "@DPTnew.Localization.Resource.Modify", "@DPTnew.Localization.Resource.ButtonUpgrade",
                "@DPTnew.Localization.Resource.New"],
                ["@DPTnew.Localization.Resource.Previous", "@DPTnew.Localization.Resource.Next", "@DPTnew.Localization.Resource.Search",
                 "@DPTnew.Localization.Resource.lengthmenu", "@DPTnew.Localization.Resource.info", "@DPTnew.Localization.Resource.infofiltered",
                 "@DPTnew.Localization.Resource.rowsSelected", "@DPTnew.Localization.Resource.noRowsSelected"]);

        });


    </script>
}

@if (ViewBag.IsAdmin || ViewBag.IsVarExpInt)
{
    <div id="machineid-dialog" title="Please enter your machineid" style="display: none;">
        <input id="machineid" required="required" type="text" size="8" maxlength="8" />
    </div>
    <div id="password-dialog" title="Please enter your password" style="display: none;">
        <input id="pwd" required="required" type="text" />
    </div>
    <div id="floating-dialog" title="Please enter the info's:" style="display:none;">
        Machine ID: <input id="machineidf" name="macid" required="required" type="text" size="8" maxlength="8" />
        Quantity: <input id="quantity" name="qty" required="required" type="number" min="1" value="1" />
        Vendor String: <input id="vendstring" name="vString" required="required" type="text" />
        Flex type:<select id="flexType-choice">
            <option value="0">Feature</option>
            <option value="1">Increment</option>
        </select>
    </div>
    <div id="decrypt-dialog" title="Password info's (Local Version < 2015):" style="display:none;">
        <label for="machineidp">Machine ID: </label> <input id="machineidp" type="text" readonly />
        <label for="ancestor">Ancestor MID: </label> <input id="ancestor" type="text" readonly />
        <label for="expdate">Expiry Date: </label> <input id="expdate" type="text" readonly />
        <label for="product">Product: </label> <input id="product" type="text" readonly />
        <label for="resdays">Res Days: </label> <input id="resdays" type="text" readonly />
        <label for="version">Version: </label> <input id="version" type="text" readonly />
    </div>
    <div id="pwd-dialog" title="Your requested password is" style="display: none;">
        <strong style="position: absolute; margin-top: 20px;" id="password"></strong>
    </div>
    <div id="version-dialog" title="Select Version" style="display: none;">
        <strong style="position: absolute; margin-top: 20px;" id="year"></strong>
        <select id="version-choice">
            <option value="2008">2008</option>
            <option value="2009">2009</option>
            <option value="2011">2011</option>
            <option value="2012">2012</option>
            <option value="2013">2013</option>
            <option value="2014">2014</option>
        </select>
    </div>
    <div id="upgrade-dialog" title="Select Version" style="display: none;">
        <strong style="position: absolute; margin-top: 20px;" id="upgver"></strong>
        <select id="upgrade-choice">
            <option value="2016">2016</option>
            <option value="2015">2015</option>
        </select>
    </div>
    <div id="sysmsg-dialog" title="System message" style="display:none;">
        <strong style="position:absolute; margin-top:20px;" id="msg"></strong>
    </div>
}

<table id="licenses" class="display" cellspacing="0" width="100%">
    <thead>
        <tr>
            <th></th>
            <th>
                @Html.DisplayNameFor(model => model.AccountNumber)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.AccountName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.LicenseID)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.ProductName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.ArticleDetail)
            </th>

            <th>
                @Html.DisplayNameFor(model => model.ServLicense1)
            </th>
            @*
                <th>
                    @Html.DisplayNameFor(model => model.MachineID)
                </th>

                <th>
                    @Html.DisplayNameFor(model => model.Ancestor)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.StartDate)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.EndDate)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.MaintStartDate)
                </th>*@
            <th>
                @Html.DisplayNameFor(model => model.MaintEndDate)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.LastExp)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Version)
            </th>
            @*<th>
                    @Html.DisplayNameFor(model => model.LicenseKind)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Note)
                </th>*@
        </tr>
    </thead>
</table>
