@{
    ViewBag.Title = @DPTnew.Localization.Resource.View_Menu_Download;
}

@section featured {
    <section class="featured">
        <div class="content-wrapper">
            <hgroup class="title">
                <h1>@ViewBag.Title</h1>
                <!--<h2>@ViewBag.Message</h2>-->
            </hgroup>
            <!--<p>text </p>-->
        </div>
    </section>
}

@section Scripts {
    @*<script src="~/Scripts/Company/table_list.js"> </script>*@
    <script type="text/javascript">
        var salesReg = '@ViewBag.Message';
        salesReg = salesReg.toLowerCase().trim();
        function downloadCounter(prod) {
            debugger;
            $.ajax({
                url: "../Download/downloadCounter?prodName=" + prod,
                type: 'GET',
                data: null,
                dataType: "json",
                success: null
            });
            return true;
        }
        /* Formatting function for row details - modify as you need */
        function format(d) {
            // `d` is the original data object for the row
            return '<table cellpadding="5" cellspacing="0" border="0" width="100%" style="padding-left:50px;">' +
               '<tr>' +
                    '<td style="width:25%"><b>' + "@DPTnew.Localization.Resource.Product" + '</b></td>' +
                    '<td style="width:60%"><b>' + "@DPTnew.Localization.Resource.Description" + '</b></td>' +
                    '<td style="width:15%"><b>' + "@DPTnew.Localization.Resource.View_Menu_Download" + '</b></td>' +
               '</tr>' +
                ((salesReg == "japan" && d.Product.indexOf("32bit") > -1 && (d.Year == "2016" || d.Year == "2015")) ?
                "" : '<tr>' +
                    '<td>' + d.Product + '</td>' +
                    '<td>' + d.Description + '</td>' +
                    '<td> <a href="' + d.Download + '">' + "@DPTnew.Localization.Resource.View_Menu_Download" + d.Size + ' </a></td>' +
                '</tr>') +
                (d.Product1 ? ((salesReg == "japan" && d.Product1.indexOf("32bit") > -1 && (d.Year == "2016" || d.Year == "2015")) ? "" :
                '<tr>' +
                    '<td>' + d.Product1 + '</td>' +
                    '<td>' + d.Description1 + '</td>' +
                    '<td>' + '<a href="' + d.Download1 + (d.Year == 2017 ? '" onclick="downloadCounter(\'' + d.Product1 + '\')">' : '">') + "@DPTnew.Localization.Resource.View_Menu_Download" + d.Size1 + ' </a></td>' +
                '</tr>') : "") +
                (d.Product2 ? ((salesReg == "japan" && d.Product2.indexOf("32bit") > -1 && (d.Year == "2016" || d.Year == "2015")) ? "" :
                '<tr>' +
                    '<td>' + d.Product2 + '</td>' +
                    '<td>' + d.Description2 + '</td>' +
                    '<td> <a href="' + d.Download2 + '">' + "@DPTnew.Localization.Resource.View_Menu_Download" + d.Size2 + ' </a></td>' +
                '</tr>') : "") +
                (d.Product3 ? ((salesReg == "japan" && d.Product3.indexOf("32bit") > -1 && (d.Year == "2016" || d.Year == "2015")) ? "" :
                '<tr>' +
                    '<td>' + d.Product3 + '</td>' +
                    '<td>' + d.Description3 + '</td>' +
                    '<td> <a href="' + d.Download3 + '">' + "@DPTnew.Localization.Resource.View_Menu_Download" + d.Size3 + ' </a></td>' +
                '</tr>') : "") +
                (d.Product4 ? ((salesReg == "japan" && d.Product4.indexOf("32bit") > -1 && (d.Year == "2016" || d.Year == "2015")) ? "" :
            '<tr>' +
                '<td>' + d.Product4 + '</td>' +
                '<td>' + d.Description4 + '</td>' +
                '<td> <a href="' + d.Download4 + '">' + "@DPTnew.Localization.Resource.View_Menu_Download" + d.Size4 + ' </a></td>' +
            '</tr>') : "") +
                (d.Product5 ? ((salesReg == "japan" && d.Product5.indexOf("32bit") > -1 && (d.Year == "2016" || d.Year == "2015")) ? "" :
            '<tr>' +
                '<td>' + d.Product5 + '</td>' +
                '<td>' + d.Description5 + '</td>' +
                '<td> <a href="' + d.Download5 + '">' + "@DPTnew.Localization.Resource.View_Menu_Download" + d.Size5 + ' </a></td>' +
                    '</tr>') : "") +
                    (d.Product6 ? ((salesReg == "japan" && d.Product6.indexOf("32bit") > -1 && (d.Year == "2016" || d.Year == "2015")) ? "" :
                '<tr>' +
                    '<td>' + d.Product6 + '</td>' +
                    '<td>' + d.Description6 + '</td>' +
                    '<td> <a href="' + d.Download6 + '">' + "@DPTnew.Localization.Resource.View_Menu_Download" + d.Size6 + ' </a></td>' +
                            '</tr>') : "") +
                             '</table>';
        }

        $(document).ready(function () {

            var datacad = [
                {
                    "Year": "2017", "Product": "@DPTnew.Localization.Resource.Product2017ThinkDesign64bit",
                    "Description": "@DPTnew.Localization.Resource.Description2017ThinkDesign64bit", "Size": " - 2 GB (DPT_TD_2017_1_21010.iso)",
                    "Download": "https://dptsarl.sharepoint.com/_layouts/15/guestaccess.aspx?docid=1cbb79ae305a0410aa2a6107930fea33a&authkey=AST6g1VETmbRi_apGD9kF-k",
                    "Product1": "@DPTnew.Localization.Resource.Product2017Utilitytools",
                    "Description1": "@DPTnew.Localization.Resource.Description2017Utilitytools", "Size1": " - 16 MB (DPT_TDTools_2017_1_21010.iso)",
                    "Download1": "https://dptsarl.sharepoint.com/_layouts/15/guestaccess.aspx?docid=1804d3aa6cb62456da60cd1a104a74c5c&authkey=AeGweC1ch-2NL3y0GNFyTr4&e=297d897bf47d41b986e5132634e7a744"
                },
                    {
                        "Year": "2016", "Product": "@DPTnew.Localization.Resource.Product2016ThinkDesign64bitSP2",
                        "Description": "@DPTnew.Localization.Resource.Description2016ThinkDesign64bitSP2", "Size": " - 2 GB",
                        "Download": "https://dptsarl.sharepoint.com/_layouts/15/guestaccess.aspx?docid=1a3dbf40105194a3fa398c799a4d6d8a8&authkey=AezeTx-tm0HpAdfUvjNLswE",
                        "Product1": "@DPTnew.Localization.Resource.Product2016ThinkDesign32bitSP2",
                        "Description1": "@DPTnew.Localization.Resource.Description2016ThinkDesign32bitSP2", "Size1": " - 2.4 GB",
                        "Download1": "https://dptsarl.sharepoint.com/_layouts/15/guestaccess.aspx?docid=13a371ae4db5545a5ab249ad33cd10141&authkey=Af2esvc4UfDlktxqnwFIZIQ",
                        @*"Product4": "@DPTnew.Localization.Resource.Product2016TDViewerLightSP2",
                    "Description4": "@DPTnew.Localization.Resource.Description2016TDViewerLightSP2", "Size4": " - 330 MB",
                    "Download4": "@DPTnew.Localization.Resource.Download2016TDViewerLightSP2",*@
                        "Product2": "@DPTnew.Localization.Resource.Product2016Utilitytools",
                        "Description2": "@DPTnew.Localization.Resource.Description2016Utilitytools", "Size2": " - 38 MB",
                        "Download2": "@DPTnew.Localization.Resource.Download2016Utilitytools"
                    }];
            if ("@ViewBag.UserNoCase.ToString().ToLower()" == "true") {
                var cad = {
                    "Year": "2015", "Product": "@DPTnew.Localization.Resource.Product2015ThinkDesign64bitSP3",
                    "Description": "@DPTnew.Localization.Resource.Description2015ThinkDesign64bitSP3", "Size": " - 2.03 GB",
                    "Download": "@DPTnew.Localization.Resource.Download2015ThinkDesign64bitSP3",
                    "Product1": "@DPTnew.Localization.Resource.Product2015ThinkDesign32bitSP3",
                    "Description1": "@DPTnew.Localization.Resource.Description2015ThinkDesign32bitSP3", "Size1": " - 2.65 GB",
                    "Download1": "@DPTnew.Localization.Resource.Download2015ThinkDesign32bitSP3",
                    @*"Product2": "@DPTnew.Localization.Resource.Product2015TDViewerLightSP3",
                    "Description2": "@DPTnew.Localization.Resource.Description2015TDViewerLightSP3", "Size2": " - 556 MB",
                    "Download2": "@DPTnew.Localization.Resource.Download2015TDViewerLightSP3",*@
                    "Product2": "@DPTnew.Localization.Resource.Product2015Utilitytools",
                    "Description2": "@DPTnew.Localization.Resource.Description2015Utilitytools", "Size2": " - 36 MB",
                    "Download2": "@DPTnew.Localization.Resource.Download2015Utilitytools"
                };
                datacad.push(cad);
                cad = {
                    "Year": "2014", "Product": "@DPTnew.Localization.Resource.Product2014ThinkDesign64bit",
                    "Description": "@DPTnew.Localization.Resource.Description2014ThinkDesign64bit", "Size": " - 1.90 GB",
                    "Download": "@DPTnew.Localization.Resource.Download2014ThinkDesign64bit",
                    @*"Product1": "@DPTnew.Localization.Resource.Product2014TDViewerLight",
                    "Description1": "@DPTnew.Localization.Resource.Description2014TDViewerLight", "Size1": " - 503 MB",
                    "Download1": "@DPTnew.Localization.Resource.Download2014TDViewerLight",*@
                    "Product1": "@DPTnew.Localization.Resource.Product2014ThinkDesign32bit",
                    "Description1": "@DPTnew.Localization.Resource.Description2014ThinkDesign32bit", "Size1": " - 2.52 GB",
                    "Download1": "@DPTnew.Localization.Resource.Download2014ThinkDesign32bit",
                    "Product2": "@DPTnew.Localization.Resource.Product2014Utilitytools",
                    "Description2": "@DPTnew.Localization.Resource.Description2014Utilitytools", "Size2": " - 7 MB",
                    "Download2": "@DPTnew.Localization.Resource.Download2014Utilitytools"
                };
                datacad.push(cad);
                cad = {
                    "Year": "2013", "Product": "@DPTnew.Localization.Resource.Product2013ThinkDesign64bit",
                    "Description": "@DPTnew.Localization.Resource.Description2013ThinkDesign64bit", "Size": " - 1.82 GB",
                    "Download": "@DPTnew.Localization.Resource.Download2013ThinkDesign64bit",
                    @*"Product1": "@DPTnew.Localization.Resource.Product2013TDViewerLight",
                    "Description1": "@DPTnew.Localization.Resource.Description2013TDViewerLight", "Size1": " - 502 MB",
                    "Download1": "@DPTnew.Localization.Resource.Download2013TDViewerLight",*@
                    "Product1": "@DPTnew.Localization.Resource.Product2013ThinkDesign32bit",
                    "Description1": "@DPTnew.Localization.Resource.Description2013ThinkDesign32bit", "Size1": " - 2.45 GB",
                    "Download1": "@DPTnew.Localization.Resource.Download2013ThinkDesign32bit",
                    "Product2": "@DPTnew.Localization.Resource.Product2013Utilitytools",
                    "Description2": "@DPTnew.Localization.Resource.Description2013Utilitytools", "Size2": " - 7.0 MB",
                    "Download2": "@DPTnew.Localization.Resource.Download2013Utilitytools"
                };
                datacad.push(cad);
                cad = {
                    "Year": "2012", "Product": "@DPTnew.Localization.Resource.Product2012ThinkDesign64bit",
                    "Description": "@DPTnew.Localization.Resource.Description2012ThinkDesign64bit", "Size": " - 1.90 GB",
                    "Download": "@DPTnew.Localization.Resource.Download2012ThinkDesign64bit",
                    @*"Product1": "@DPTnew.Localization.Resource.Product2012TDViewerLight",
                    "Description1": "@DPTnew.Localization.Resource.Description2012TDViewerLight", "Size1": " - 270 MB",
                    "Download1": "@DPTnew.Localization.Resource.Download2012TDViewerLight",*@
                    "Product1": "@DPTnew.Localization.Resource.Product2012ThinkDesign32bit",
                    "Description1": "@DPTnew.Localization.Resource.Description2012ThinkDesign32bit", "Size1": " - 2.31 GB",
                    "Download1": "@DPTnew.Localization.Resource.Download2012ThinkDesign32bit",
                    "Product2": "@DPTnew.Localization.Resource.Product2012Utilitytools",
                    "Description2": "@DPTnew.Localization.Resource.Description2012Utilitytools", "Size2": " - 6.3 MB",
                    "Download2": "@DPTnew.Localization.Resource.Download2012Utilitytools"
                };
                datacad.push(cad);
                cad = {
                    "Year": "2011", "Product": "@DPTnew.Localization.Resource.Product2011ThinkDesign32bit",
                    "Description": "@DPTnew.Localization.Resource.Description2011ThinkDesign32bit", "Size": " - 2.30 GB",
                    "Download": "@DPTnew.Localization.Resource.Download2011ThinkDesign32bit",
                    @*"Product1": "@DPTnew.Localization.Resource.Product2011TDViewerLight",
                    "Description1": "@DPTnew.Localization.Resource.Description2011TDViewerLight", "Size1": " - 269 MB",
                    "Download1": "@DPTnew.Localization.Resource.Download2011TDViewerLight",*@
                    "Product1": "@DPTnew.Localization.Resource.Product2011Utilitytools",
                    "Description1": "@DPTnew.Localization.Resource.Description2011Utilitytools", "Size1": " - 3.7 MB",
                    "Download1": "@DPTnew.Localization.Resource.Download2011Utilitytools"
                };
                datacad.push(cad);
            }

            var cadTable = $('#cad').DataTable({
                data: datacad,
                columns: [
                {
                    data: null,
                    "className": 'details-control',
                    "orderable": false,
                    "defaultContent": ''
                },
                {
                    data: "Year",
                    "orderable": false,
                    "defaultContent": ''
                }
                ],
                "order": [[0, "desc"]],
                "bLengthChange": false,
                "searching": false,
                "bInfo": false,
                "bPaginate": false,
                "bSort": false
            });

            $('#cad tbody').on('click', 'td.details-control', function () {
                var tr = $(this).closest('tr');
                var row = cadTable.row(tr);
                var index = row.index();
                if (row.child.isShown()) {
                    // This row is already open - close it
                    row.child.hide();
                    tr.removeClass('shown');
                }
                else {
                    //close all the open rows
                    //cadTable.rows().eq(0).each(function (idx) {
                    //    var row = cadTable.row(idx);
                    //    if (row.child.isShown()) {
                    //        row.child.hide();
                    //        tr.removeClass('shown');
                    //    }
                    //});

                    // Open this row
                    var data = row.data();
                    row.child(format(row.data())).show();
                    tr.addClass('shown');
                }
            });

            var dataplm = [
                {
                    "Product": "@DPTnew.Localization.Resource.Product2017thinkPLM",
                    "Description": "@DPTnew.Localization.Resource.Description2017thinkPLM", "Size": " - COMING SOON",
                    "Download": ""
                },
                {
                    "Product": "@DPTnew.Localization.Resource.Product2016thinkPLMSP2",
                    "Description": "@DPTnew.Localization.Resource.Description2016thinkPLMSP2", "Size": " - 850 MB",
                    "Download": "https://dptsarl.sharepoint.com/_layouts/15/guestaccess.aspx?docid=1714768a3a2964912ac55a15ebf97b601&authkey=AZqZyyejfmWEjVDsbLpLC6g"
                }];

            if ("@ViewBag.UserNoCase.ToString().ToLower()" == "true") {
                var plm = {
                    "Product": "@DPTnew.Localization.Resource.Product2015thinkPLMSP3",
                    "Description": "@DPTnew.Localization.Resource.Description2015thinkPLMSP3", "Size": " - 1.25 GB",
                    "Download": "@DPTnew.Localization.Resource.Download2015thinkPLMSP3"
                };
                dataplm.push(plm);
                plm = {
                    "Product": "@DPTnew.Localization.Resource.Product2014thinkPLM",
                    "Description": "@DPTnew.Localization.Resource.Description2014thinkPLM", "Size": " - 1.18 GB",
                    "Download": "@DPTnew.Localization.Resource.Download2014thinkPLM"
                };
                dataplm.push(plm);
                plm = {
                    "Product": "@DPTnew.Localization.Resource.Product2013thinkPLM",
                    "Description": "@DPTnew.Localization.Resource.Description2013thinkPLM", "Size": " - 1.15 GB",
                    "Download": "@DPTnew.Localization.Resource.Download2013thinkPLM"
                };
                dataplm.push(plm);
                plm = {
                    "Product": "@DPTnew.Localization.Resource.Product2012thinkPLM",
                    "Description": "@DPTnew.Localization.Resource.Description2012thinkPLM", "Size": " - 821 MB",
                    "Download": "@DPTnew.Localization.Resource.Download2012thinkPLM"
                };
                dataplm.push(plm);
                plm = {
                    "Product": "@DPTnew.Localization.Resource.Product2011thinkPLM",
                    "Description": "@DPTnew.Localization.Resource.Description2011thinkPLM", "Size": " - 813 MB",
                    "Download": "@DPTnew.Localization.Resource.Download2011thinkPLM"
                };
                dataplm.push(plm);
            }

            var plmTable = $('#plm').DataTable({
                data: dataplm,
                columns: [
                {
                    data: 'Product',
                    "orderable": false,
                    "defaultContent": ''
                },
                {
                    data: 'Description',
                    "orderable": false,
                    "defaultContent": ''
                },
                {
                    "data": "Download",
                    "fnCreatedCell": function (nTd, sData, oData, iRow, iCol) {
                        $(nTd).html("<a href='" + oData.Download + "'>" + "@DPTnew.Localization.Resource.View_Menu_Download" + oData.Size + " </a>");
                    },
                    "orderable": false
                }
                ],
                "order": [[0, "desc"]],
                "bLengthChange": false,
                "searching": false,
                "bInfo": false,
                "bPaginate": false,
                "bSort": false
            });

        });
    </script>
}


<table id="thd" cellspacing="0" width="100%">
    <thead>
        <tr style="vertical-align:top">
            <td>
                <h2>ThinkDesign 2017</h2>
                <br />
                @DPTnew.Localization.Resource.View_Download_Text1<br />
                @DPTnew.Localization.Resource.View_Download_Text2
                <br /><br />
                <a href="https://dptsarl.sharepoint.com/_layouts/15/guestaccess.aspx?docid=1cbb79ae305a0410aa2a6107930fea33a&authkey=AST6g1VETmbRi_apGD9kF-k">
                    <img src="~/Content/images/TD2017_download.png">
                </a>
            </td>
            <td>
                <img src="~/Content/images/TDProf_timeline2017-2018_sitoDPT3Care.png" align="right">
            </td>
        </tr>
    </thead>
</table>
<br />
<br />
<div><img src="~/Content/images/Warning_small.png"> &nbsp;@Html.Raw(@DPTnew.Localization.Resource.View_Download_Warning)</div>
<br />
<br />
<div style="width: 1000px">
    <table id="cad" class="display" cellspacing="0" width="100%">
        <thead>
            <tr>
                <th width="7px"></th>
                <th>
                    CAD
                </th>
            </tr>
        </thead>
    </table>
    </br></br>
    <table id="plm" class="display" cellspacing="0" width="100%">
        <thead>
            <tr>
                <th>
                    PLM
                </th>
                <th></th>
                <th></th>
            </tr>
            <tr>
                <td id="product">
                    <b>@DPTnew.Localization.Resource.Product</b>
                </td>
                <td id="description">
                    <b>@DPTnew.Localization.Resource.Description</b>
                </td>
                <td id="download">
                    <b>@DPTnew.Localization.Resource.View_Menu_Download</b>
                </td>
            </tr>
        </thead>
    </table>
</div>

