@{
    ViewBag.Title = DPTnew.Localization.Resource.View_HomeIndex_Title;
}
@section featured {
    <section class="featured">
        <div class="content-wrapper">
            <hgroup class="title">
                <h1>@ViewBag.Title.</h1>
                @*<h2>@ViewBag.Message</h2>*@
            </hgroup>
            <p>
                @DPTnew.Localization.Resource.View_Home_Subtitle
            </p>

            @*            @if(WebSecurity.IsAuthenticated){
                if(Roles.IsUserInRole(WebSecurity.CurrentUserName, "Admin")){
                    <text>@WebSecurity.CurrentUserName is an Admin</text>
                }else
                if(Roles.IsUserInRole(WebSecurity.CurrentUserName, "Var")){
                    <text>@WebSecurity.CurrentUserName is a Var</text>
                }
                else{
                     <text>@WebSecurity.CurrentUserName is a NormalUser</text>
                }


            *@
        </div>
    </section>
}

<h3>@DPTnew.Localization.Resource.View_Home_BreakingNews</h3>
<text>@DPTnew.Localization.Resource.View_Home_Text1</text><br />
<text>@DPTnew.Localization.Resource.View_Home_Text2</text>

<br />
<br />
<br />

<table style="width:100%">
    <tbody>
        <tr>
            @if (@ViewBag.Message == "italy")
            {
                <th style="width:33%"><a href="http://www.think3.eu/images/pdf/Licenses_it.pdf" target="_blank"><u>@DPTnew.Localization.Resource.View_Home_NewLicensing</u></a></th>
            }
            @if (@ViewBag.Message == "japan")
            {
                <th style="width:33%"><a href="ftp://ftp.think3.jp/tdExtra/InstallGuide/InstallGuide.pdf" target="_blank"><u>@DPTnew.Localization.Resource.View_Home_NewLicensing</u></a></th>
            }
            @if (@ViewBag.Message != "japan" && @ViewBag.Message != "italy")
            {
                <th style="width:33%"><a href="http://www.think3.eu/images/pdf/Licenses.pdf" target="_blank"><u>@DPTnew.Localization.Resource.View_Home_NewLicensing</u></a></th>
            }
            <th style="width:33%"><a href="~/elearning" target="_blank"><u>@DPTnew.Localization.Resource.View_Home_ELearning</u></a></th>
            <th style="width:33%"><a href="http://help.dptcorporate.com/" target="_blank"><u>@DPTnew.Localization.Resource.View_Home_THelp</u></a></th>
        </tr>
        <tr>
            <td>@DPTnew.Localization.Resource.View_Home_NewLicensing_Text</td>
            <td>@DPTnew.Localization.Resource.View_Home_ELearning_Text</td>
            <td>@DPTnew.Localization.Resource.View_Home_THelp_Text</td>
        </tr>
    </tbody>
</table>
<br />
<br />

<table style="width:100%">
    <tbody>
        <tr>
            <th style="width:33%"><a href="http://care.think3.eu/default.aspx" target="_blank"><u>@DPTnew.Localization.Resource.View_Home_CaseManagement</u></a></th>
            <th style="width:33%">
                <a href="~/FaqUser/Index" target="_blank"><u>@DPTnew.Localization.Resource.View_Home_UserGuidebook</u></a>
            </th>
            <th style="width:33%">
                @if (Roles.IsUserInRole(WebSecurity.CurrentUserName, "Admin") ||
                    Roles.IsUserInRole(WebSecurity.CurrentUserName, "Internal") ||
                    Roles.IsUserInRole(WebSecurity.CurrentUserName, "Var") ||
                    Roles.IsUserInRole(WebSecurity.CurrentUserName, "VarExp"))
                {
                    <a href="~/Faq/Index" target="_blank"><u>@DPTnew.Localization.Resource.View_Home_VarGuidebook</u></a>
                }
            </th>

        </tr>
        <tr>
            <td>
                @DPTnew.Localization.Resource.View_Home_CaseManagement_Text1 <br />
                @DPTnew.Localization.Resource.View_Home_CaseManagement_Text2
            </td>
            <td>@DPTnew.Localization.Resource.View_Home_UserGuidebook_Text</td>
            <td>
                @if (Roles.IsUserInRole(WebSecurity.CurrentUserName, "Admin") ||
                    Roles.IsUserInRole(WebSecurity.CurrentUserName, "Internal") ||
                    Roles.IsUserInRole(WebSecurity.CurrentUserName, "Var") ||
                    Roles.IsUserInRole(WebSecurity.CurrentUserName, "VarExp"))
                {
                    <text>@DPTnew.Localization.Resource.View_Home_VarGuidebook_Text</text>
                }
            </td>
        </tr>
    </tbody>
</table>
        </br>
<table>
    <tbody>
        <tr>
            <th>
                @if (Roles.IsUserInRole(WebSecurity.CurrentUserName, "Admin"))
                {
                    <u>
                        @Html.ActionLink("Safenet Sync", "SyncDB", "Company", null, new { onclick = "return confirm('Would you like to continue?')" })
                    </u>
                }
            </th>
        </tr>
        <tr>
            <td>
                @if (Roles.IsUserInRole(WebSecurity.CurrentUserName, "Admin"))
                {
                    <text> Synchronize the site company info's with Safenet.</text>
                }
            </td>
        </tr>
    </tbody>
</table>








@* Click <a href="~/Faq/Index">here</a> to access the VAR Guidebook.
    <h3 style="color:orange;">We suggest the following:</h3>
    <ol class="round">
        <li class="one">
            <h5>Getting Started</h5>
           Go to the <a href="~/Licenses/Index">Licenses</a> section to start to ...
        </li>
        @if (Roles.IsUserInRole(WebSecurity.CurrentUserName, "Admin") || Roles.IsUserInRole(WebSecurity.CurrentUserName, "Var"))
        {

        <li class="one">
            <h5>Sono un VAR</h5>
            Click <a href="~/Faq/Index">here</a> to access the VAR Guidebook.
        </li>
        }
    </ol>*@
